*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
	color:smokewhite;
    background-color: rgb(31, 30, 30);
    
}


#inputFields{
    width: 100%;
    z-index: 2;
    background: transparent;

    display: grid;
    grid-template-columns: 2fr 5fr;
    padding: 3px;
}

#keywords{
    display: grid;
    grid-column: 1/2;
    grid-template-columns: 1fr;
}

.case-button{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.case-type{
    display: grid;
    height: 40px;
}

.rightSide{
    display: grid;
    grid-auto-rows: 41px;
    grid-template-columns: 5fr 5fr 2fr;
}

#cityState{
}

#websiteName{
    display: grid;
    grid-column: 1/2;
    grid-row: 2/4;
    grid-template-columns: 1fr 1fr;
}
#websiteName > input{
    display: grid;
    grid-column: 1/3;
}

.extra{
    display: grid;
    color: whitesmoke;
    font-size: 14px;
    padding:3px;
    text-align: left;
    border-bottom: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
}
.extra > input{

}

textarea{
    font-size: 14px;
    padding: 5px;
}

#cityState > input, #websiteName > input{
    
    width: 100%;
    height: 40px;
    font-size: 14px;

    transition: 0.3s;
}


 #generate-key{
    font-size: 15px;
    height: 42px;
    display: block;
    transition: 0.3s;
}

button{
    background: #01415f;
    color: #ffffff;
}

button:hover{
    background-color: #444443;
    color: rgb(255, 255, 255);
}

/* ================================== */

#main{
    margin-top: 3px;
    display: grid;
    grid-column: 1/4;
    width: 100%;
       
}

.section{
    display: grid;
    grid-template-columns: 1fr 6fr;
    margin-bottom: 3px;
    position: relative;
    left: 50%;
    transform: translate(-50%);

}

.name{
    margin: 3px;
    grid-row: 1/4;

    background-color: transparent;
    border: 1px solid black;
    color: white;
    font-size: 40px;
    text-align: center;
}

.output{
    width: 99%;
    font-size: 15px;
    color: black;
    height: 30px;
    margin: 2px;
}

input:disable{
    background-color: rgb(224, 224, 224);
}
.section:nth-child(odd){
    background-color: rgb(121, 121, 121);
}
.section:nth-child(even){
    background-color: rgb(75, 75, 75);
}




